<div class="product-card">

  <div class="card-image">
    <img [src]="getImageUrl()" [alt]="product.name">

    <div class="card-overlay">
      <button><i class="fas fa-heart"></i></button>
      <button><i class="fas fa-chart-line"></i></button>
    </div>
  </div>

  <div class="card-body">
    <h3>{{ product.name }}</h3>
    <p>{{ product.description | slice:0:80 }}...</p>

    <div class="card-footer">
      <span class="price">
        {{ formatPrice(product.basePrice || product.price) }}
      </span>

      <!-- Dans product-card.component.html -->
      <button class="btn-details" [routerLink]="['/public/product-detail', product.productId]">
        View Details →
      </button>
      
    </div>
  </div>

</div>